.UploadInput__MediName,
.UploadInput__Date {
  margin-bottom: 24px;
}
.UploadInput__Quantity {
  margin-bottom: 24px;
}

.UploadInput__Memo {
  margin-bottom: 16px;
}

.select {
  width: 200px;
  height: 50px;
  padding: .8em .5em;
  font-size: medium;
  border-color: #ebebeb;
  border-radius: 5px;
}
